body {
    font-family: Helvetica;
    color: white;
    background-color: black;
    margin: 0; 
}

.logo-Netflix {
    margin-left: 40px;
}

.hr1 {
    border: solid gray 3px;
    margin: 200px 0 20px 0;
}

hr {
    border: solid gray 3px;
}

h2 {
    font-size: 50px;
 }

 h4 {
     text-align: center;
     font-size: 50px;
 }

ul {
    list-style: none;
}

 .first-ul  {
     text-align: left;
     margin-left: 270px;
 }

 a {
     text-decoration: none;
     
 }
 
 p {
     font-size: 25px;
 }
 

.title-netflix {
    font-family: monospace;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 45px;
    margin-left: 10px;
}

.first-line {
    background-image: url(../immagini/perspective_alpha_website_medium.jpg);
    background-size: cover;
    margin: 0;
    background-position: top;
    width: 100%;
    height: 100%;
}

#language {
    margin-left: 850px;
    font-size: 14px;
    background-color: transparent;
    background: rgba(0,0,0,.4);
    color: white;
    padding: 8px 17px;
    border: 1px white solid;
}

.first-button {
    margin-right: 50px;
    font-size: 14px;
    background-color: red;
    color: white;
    padding: 9.5px 22px;
    border: none;
    border-radius: 5px;
}

.title {
    font-size: 3.5rem;
    margin-top: 100px;
}

h3 {
    font-size: 2rem;
}

h6 {
    font-size: 1.3rem;
    margin: 10px;
}

.container {
    text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  

}

#email {
    padding: 5px 2px;
    text-align: left;
    font-size: 16px;
    width: 35%;
    padding: 29px 5px 20px 5px;
    font-family: Arial;
    margin-left: 0;
}

#start {
    padding: 5px 2px;
    background-color: rgb(219, 0, 0);
    color: white;
    font-size: 25px;
    padding: 20px 25px;
    font-family: Arial;   
    margin-left: 0;
}

#start:hover {
    background-color: red;
}

.card-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 55px;
}

.text-content {
    flex-direction: column;
    font-family: Helvetica;
}

.card-class-1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 55px;
}

.text-content-1 {
    font-family: Helvetica; 
}

.text-0 {
    text-align: left;
    border: 2px solid gray;
    margin-right: 150px;
    margin-left: 150px;
    padding: 20px 0 30px 0;
    border-radius: 10px;
    
}

.text-1 {
    color: blue;
}

.stanger {
    float: left;
   padding: 0 10px 0 10px;
}

.first-list {
    color: white;
    border: 1px solid rgb(71, 71, 71);
    line-height: 2;
    background-color: rgb(71, 71, 71);
    font-size: 26px;
    width: 750px;
    padding: 15px 9px;
    margin: 10px 0;   
}

.card-section {
    text-align: center;
    margin-bottom: 40px;
}

footer {
    margin: 0 200px;
}

.question {
    color: gray;
    font-size: 16px;
    font-family: Helvetica;
    margin-left: 40px;
    margin-top: 50px;
}

.question1 {
    color: gray;
    font-size: 16px;
    font-family: Helvetica;
}

.second-list {
    color: gray;
    font-size: 13px;
}

.list-container {
    line-height: 1.9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;

}

.other-list-2 {
   margin-top: 16px;
}

.other-list-3 {
    margin-top: 16px;
}

.other-list-4 {
    margin-top: 16px;
}

#language1 {
    margin-top: 15px;
    margin-left: 40px;
    font-size: 14px;
    background-color: transparent;
    background: black;
    color: #999;
    padding: 12px 26px 12px 26px;
    border: 1px #333 solid;
}

span {
    color: gray;
    font-family: Helvetica;
    font-size: 13px;
    margin-left: 40px;
}

